In [1]:
from selenium import webdriver
browser = webdriver.Chrome('chromedriver.exe')

In [2]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://www.linkedin.com/search/results/all/?keywords=datascience&origin=GLOBAL_SEARCH_HEADER'
browser.get(url)

In [4]:
parent = browser.find_element_by_css_selector('ul.search-results__list.list-style-none')
child = parent.find_elements_by_css_selector('li.search-result.search-result__occluded-item.ember-view')

In [5]:
job_df = pd.DataFrame()
for job in child:
    try:
        job_name = job.find_element_by_css_selector('h3.search-result__title').text
        company = job.find_element_by_css_selector('p.subline-level-1.t-black.t-normal.search-result__truncate').text
        location = job.find_element_by_css_selector('span.location').text
        #URL_desc = job_find_element_by_css_selector('a.ember-view#ember64').get_attribute('href')
    except:
        job_name = None
        company = None
        location = None
        #URL_desc = None
        
    job_dict = {
        'Job_Name':job_name,
        'Company_Name':company,
        'Location':location,
        #'Full_Desc_URL':URL_desc
    }
    job_df = job_df.append(job_dict,ignore_index = True)
job_df

,Company_Name,Job_Name,Location
0,Understanding Recruitment,"Data Scientist (Python, Deep Learning, Neural ...","London, United Kingdom"
1,ManoMano,Senior Data Scientist (H/F) Paris,"Paris Area, France"
2,"Aegis School of Business, Data Science and Tel...",Director Campus Placement/ Career Management C...,"Bengaluru Area, India"
3,NAKAMA,Lead Data Scientist,Singapore
4,&Bolenius! recruitment | executive search,Business Development Manager,Netherlands
5,Sabre Corporation,Senior Business Analyst,Uruguay
6,Wide Agency,Stage Consultant DATASCIENCE,"Paris Area, France"
7,Pop Science,Pre-Sales Consultant,"Munich Area, Germany"
8,None,None,None
9,None,None,None

In [6]:
job_df = pd.DataFrame()
for i in range(1,11):
    url = 'https://www.linkedin.com/search/results/all/?keywords=datascience&origin=GLOBAL_SEARCH_HEADER&page=%d' %(i)
    browser.get(url)
    
    parent = browser.find_element_by_css_selector('ul.search-results__list.list-style-none')
    child = parent.find_elements_by_css_selector('li.search-result.search-result__occluded-item.ember-view')
    
    for job in child:
        try:
            job_name = job.find_element_by_css_selector('h3.search-result__title').text
            company = job.find_element_by_css_selector('p.subline-level-1.t-black.t-normal.search-result__truncate').text
            location = job.find_element_by_css_selector('span.location').text
            #URL_desc = job_find_element_by_css_selector('a.ember-view#ember64').get_attribute('href')
        except:
            job_name = None
            company = None
            location = None
            #URL_desc = None

        job_dict = {
            'Job_Name':job_name,
            'Company_Name':company,
            'Location':location,
            #'Full_Desc_URL':URL_desc
        }
        job_df = job_df.append(job_dict,ignore_index = True)
job_df

,Company_Name,Job_Name,Location
0,Understanding Recruitment,"Data Scientist (Python, Deep Learning, Neural ...","London, United Kingdom"
1,ManoMano,Senior Data Scientist (H/F) Paris,"Paris Area, France"
2,"Aegis School of Business, Data Science and Tel...",Director Campus Placement/ Career Management C...,"Bengaluru Area, India"
3,NAKAMA,Lead Data Scientist,Singapore
4,&Bolenius! recruitment | executive search,Business Development Manager,Netherlands
5,Sabre Corporation,Senior Business Analyst,Uruguay
6,Wide Agency,Stage Consultant DATASCIENCE,"Paris Area, France"
7,Pop Science,Pre-Sales Consultant,"Munich Area, Germany"
8,None,None,None
9,None,None,None
10,LivePerson,Software Development Engineer II -Bots & Autom...,San Francisco Bay Area
11,EY,Blockchain Solution Architect,"London, United Kingdom"
12,Amazon,"Software Development Manager, Search Data Pipe...",San Francisco Bay Area
13,Amazon,Software Development Engineer - SearchData,San Francisco Bay Area
14,Indra,Programador/a Java Datascience,"A Coruña Area, Spain"
15,None,None,None
16,None,None,None
17,None,None,None
18,None,None,None
19,None,None,None
20,7-Eleven,Data Scientist,Dallas/Fort Worth Area
21,Matmut,DATA SCIENTIST F/H,"Rouen Area, France"
22,Sia Partners,Responsable des Systèmes d’Information,"Paris Area, France"
23,Three Sixty Recruitment,Data Engineer,"Berlin Area, Germany"
24,Wyser,Data Analyst F/H,"Paris Area, France"
25,None,None,None
26,None,None,None
27,None,None,None
28,None,None,None
29,None,None,None
...,...,...,...
70,CareerValue B.V.,Data Science 2.0 #DataEngineering & #DataScience,"Amsterdam Area, Netherlands"
71,"IAV Automotive Engineering, Inc.",Mathematiker / Technomathematiker* - DataScien...,"Braunschweig Area, Germany"
72,Group Corporate Functions,Stage - Chargé de Datascience - Clustering-(H/F),"Paris Area, France"
73,Mediquest,Clojure Developer met datascience en/of Cloud-...,"Utrecht Area, Netherlands"
74,Franklin Templeton Investments,DataScience/Data Mgmt Product Manager,San Francisco Bay Area
75,None,None,None
76,None,None,None
77,None,None,None
78,None,None,None
79,None,None,None
80,iSOFT,Business Developer plate-forme de Datascience F/H,"Paris Area, France"
81,T-Systems on site services GmbH,Allrounder - Java Developer mit Schwerpunkt Ma...,"Hannover Area, Germany"
82,EXTERNATIC,Ingénieur Développement DataScience,"Nantes Area, France"
83,EDF France,Alternance - Bigdata DataScience - H/F,"Paris Area, France"
84,"IAV Automotive Engineering, Inc.",Praktikum - Datascience - Ludwigsburg,"Stuttgart Area, Germany"
85,None,None,None
86,None,None,None
87,None,None,None
88,None,None,None
89,None,None,None
90,Randstad Quebec,BI/ETL - Solution Architect,Canada
91,University of Southampton,Marie Sklodowska-Curie Fellow ITN - Southampton,"Southampton, United Kingdom"
92,AOSIS Consulting,Developpeur Full Stack- Big Data F/H,"Toulouse Area, France"
93,Die Fraunhofer-Einrichtung für Additive Produk...,Wissenschaftlicher Mitarbeiter (m/w/d) im Bere...,"Hamburg Area, Germany"
94,Wizbii,praktikum data-science data-engineering m w d ...,"Cologne Area, Germany"
95,None,None,None
96,None,None,None
97,None,None,None
98,None,None,None
99,None,None,None

In [7]:
job_df.isnull().sum()

Company_Name    47
Job_Name        47
Location        47
dtype: int64

In [8]:
job_df = job_df.dropna()

In [9]:
job_df.shape

(53, 3)

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
docs = job_df['text'].str.lower()
docs = docs.str.replace('co','').str.replace('https','')
wc = WordCloud(background_color='white').generate(' '.join(docs))
plt.imshow(wc)